<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/widok_dnia.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    script(src="../scripts/widok_dnia.js")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Widok dnia</title>
</head>
<body style="background-color: #F8F8F8">
    <a href="../planer"><input class="go-back-btn" type="button" value="WRÓĆ DO KALENDARZA"></a>
    <div class="day-view-header">
        | #{day.id}
        i(class="fa fa-filter filter", onclick="openFilter()", style="cursor: pointer")
    </div>
    <div class="filter-bar" hidden>
        <select class="form-control sort-by" required style="cursor: pointer">
            <option value="" selected disabled hidden>Sortuj po</option>
            <option value="status">Status</option>
            <option value="hour">Godzina</option>
            <option value="name">Nazwa</option>
            <option value="priority">Priorytet</option>
        </select>
        <input type="button" value="Zastosuj" class="sort-btn" onclick="applyFilter()">
    </div>

    <div id="kek" class="kek" hidden></div>
    //<div class="list-elem">
    //    <div class="yellow-square"></div>
    //    <div class="hour">09:00</div>
    //    <span>Zadnie Akka</span>
    //    <div class="priority">3</div>
    //</div>
    //<div class="list-elem">
    //    <div class="yellow-square"></div>
    //    <div class="hour">09:30</div>
    //    <span>Isc pobiegac</span>
    //    <div class="priority">1</div>
    //</div>
    //<div class="list-elem green-border">
    //    <div class="status green-square"></div>
    //    <div class="hour">12:00</div>
    //    <span>Isc na silownie</span>
    //    <div class="priority">2</div>
    //</div>
    //<div class="list-elem green-border">
    //    <div class="green-square"></div>
    //    <div class="hour">14:00</div>
    //    <span>Zadnie z jebanego UX</span>
    //    <div class="priority">3</div>
    //</div>
    //<div class="list-elem saturate">
    //    <div class="red-square"></div>
    //    <div class="hour">17:00</div>
    //    <span class="name">Dokonczyc logowanie</span>
    //    <div class="priority">1</div>
    //</div>

    <div class="list">
        each task, index in day.tasks
                case task.status
                    when "SUCCESS"
                            .list-elem.green-border
                                <span class="complete" onclick="completeTask()" hidden>ZAKONCZ</span>
                                .green-square
                                .hour= task.hour
                                a(class="name" href= `../zadanie/${dayIndex}/${index}`)
                                    span(class="name")= task.id
                                .priority= task.priority
                                <span class="delete" onclick="removeTask()" hidden>USUN</span>
                    when "PROGRESS"
                            .list-elem
                                <span class="complete" onclick="completeTask()" hidden>ZAKONCZ</span>
                                .yellow-square
                                .hour= task.hour
                                a(class="name" href= `../zadanie/${dayIndex}/${index}`)
                                    span(class="name")= task.id
                                .priority= task.priority
                                <span class="delete" onclick="removeTask()" hidden>USUN</span>
                    when "FAILURE"
                            .list-elem.opacity
                                <span class="complete" onclick="completeTask()" hidden>ZAKONCZ</span>
                                .red-square
                                .hour= task.hour
                                a(class="name" href= `../zadanie/${dayIndex}/${index}`)
                                    span(class="name")= task.id
                                .priority= task.priority
                                <span class="delete" onclick="removeTask()" hidden>USUN</span>
</div>

    <a href=../zadanie><i class="fa fa-plus-circle add-btn fa-4x"></i></a>
</body>
</html>
